name: pull-request
on:
  pull_request:
    types: [opened, reopened, synchronize, edited, labeled, closed]

env:
  MAIN_PYTHON_VERSION: '3.13'
  LIBRARY_NAME: 'ansys-lumerical-core'
  DOCKER_IMAGE_LUMERICAL_UNIFIED: 'ghcr.io/ansys-internal/lumerical-unified:latest'
  DOCKER_CONTAINER_LUMERICAL_UNIFIED_NAME: 'lumerical-unified'
  PIP_EXTRA_INDEX_URL: 'https://${{ secrets.PYANSYS_PYPI_PRIVATE_PAT }}@pkgs.dev.azure.com/pyansys/_packaging/pyansys/pypi/simple/'
  DOCUMENTATION_CNAME: 'lumerical.docs.pyansys.com'

permissions:
  contents: read
  pull-requests: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  # vulnerabilities:
  #   name: Vulnerabilities
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: PyAnsys Vulnerability check (on main)
  #       if: github.ref == 'refs/heads/main'
  #       uses: ansys/actions/check-vulnerabilities@v10.1
  #       with:
  #         python-version: ${{ env.MAIN_PYTHON_VERSION }}
  #         python-package-name: ${{ env.LIBRARY_NAME }}
  #         token: ${{ secrets.PYANSYS_CI_BOT_TOKEN }}

  #     - name: PyAnsys Vulnerability check (on dev mode)
  #       if: github.ref != 'refs/heads/main'
  #       uses: ansys/actions/check-vulnerabilities@v10.1
  #       with:
  #         python-version: ${{ env.MAIN_PYTHON_VERSION }}
  #         python-package-name: ${{ env.LIBRARY_NAME }}
  #         token: ${{ secrets.PYANSYS_CI_BOT_TOKEN }}
  #         dev-mode: true

  labeler:
    name: "Labels"
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:

     - name: "Checkout project"
       uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
       with:
        persist-credentials: false

     - name: "Sync labels"
       uses: micnncim/action-label-syncer@3abd5ab72fda571e69fffd97bd4e0033dd5f495c # v1.3.0
       env:
         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

     - name: "Label pull-request"
       # HACK: skip if contributor does not have write permissions (forks)
       if: github.event.pull_request.head.repo.full_name == github.repository
       uses: actions/labeler@8558fd74291d67161a8a78ce36a881fa63b766a9 # v5.0.0
       with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}

  changelog-fragment:
    name: "Create changelog fragment"
    needs: labeler
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
    - uses: ansys/actions/doc-changelog@v10
      with:
        token: ${{ secrets.PYANSYS_CI_BOT_TOKEN }}
        use-conventional-commits: true
        use-default-towncrier-config: true
        bot-user: ${{ secrets.PYANSYS_CI_BOT_USERNAME }}
        bot-email: ${{ secrets.PYANSYS_CI_BOT_EMAIL }}

  code-style:
    name: "Code style"
    runs-on: ubuntu-latest
    needs: changelog-fragment
    steps:
      - name: "Run code style checks"
        uses: ansys/actions/code-style@v10
        with:
          python-version: ${{ env.MAIN_PYTHON_VERSION }}
          use-python-cache: false

  doc-style:
    name: "Doc style"
    runs-on: ubuntu-latest
    needs: changelog-fragment
    steps:
      - uses: ansys/actions/doc-style@v10
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

  doc-build:
    name: "Doc build"
    if: github.event.action != 'closed'
    runs-on: ubuntu-latest
    needs: doc-style
    steps:
      - uses: ansys/actions/doc-build@v10.1
        with:
          skip-install: true
          python-version: ${{ env.MAIN_PYTHON_VERSION }}
          use-python-cache: false
          needs-quarto: true

  doc-deploy-dev:
    name: "Deploy development documentation"
    # Deploy development only when merging or pushing to the 'main' branch
    if: github.event_name == 'push' && !contains(github.ref, 'refs/tags')
    runs-on: ubuntu-latest
    needs: doc-build
    steps:
      - name: "Deploy the latest documentation"
        uses: ansys/actions/doc-deploy-dev@v10.1
        with:
          cname: ${{ env.DOCUMENTATION_CNAME }}
          token: ${{ secrets.PYANSYS_CI_BOT_TOKEN }}
          bot-user: ${{ secrets.PYANSYS_CI_BOT_USERNAME }}
          bot-email: ${{ secrets.PYANSYS_CI_BOT_EMAIL }}

  # doc-deploy-stable:
  #   name: "Deploy stable documentation"
  #   # Deploy release documentation when creating a new tag
  #   if: github.event_name == 'push' && contains(github.ref, 'refs/tags')
  #   runs-on: ubuntu-latest
  #   needs: release
  #   steps:
  #     - uses: ansys/actions/doc-deploy-stable@v6
  #       with:
  #         doc-artifact-name: '<html-artifact-name>'
  #         cname: ${{ env.DOCUMENTATION_CNAME }}
  #         token: ${{ secrets.PYANSYS_CI_BOT_TOKEN }}


  doc-deploy-pr:
    name: "Deploy PR documentation"
    runs-on: ubuntu-latest
    needs: doc-build
    # Run when the PR is closed i.e. when doc-build job is skipped
    if: always() && (needs.doc-build.result == 'success' || needs.doc-build.result == 'skipped')
    steps:
      - uses: ansys/actions/doc-deploy-pr@v10.1
        with:
          cname: ${{ env.DOCUMENTATION_CNAME }}
          token: ${{ secrets.PYANSYS_CI_BOT_TOKEN }}
          bot-user: ${{ secrets.PYANSYS_CI_BOT_USERNAME }}
          bot-email: ${{ secrets.PYANSYS_CI_BOT_EMAIL }}
          maximum-pr-doc-deployments: 10

  wheelhouse:
    name: "Wheelhouse / ${{ matrix.os }} / ${{ matrix.python }}"
    runs-on: ${{ matrix.os }}
    needs: code-style
    permissions:
      id-token: write
      contents: write
    strategy:
      fail-fast: false
      matrix:
        os: ['ubuntu-latest', 'windows-latest']
        python: ['3.10', '3.11', '3.12', '3.13']
    steps:
      - uses: ansys/actions/build-wheelhouse@v10
        with:
          library-name: ${{ env.LIBRARY_NAME }}
          operating-system: ${{ matrix.os }}
          python-version: ${{ matrix.python }}

  tests:
    name: "Test Python 3.13 with Lumerical Unified Linux Container"
    runs-on: ubuntu-latest
    needs: wheelhouse
    permissions:
      id-token: write
      contents: write
    steps:

      - name: "Checkout PyLumerical"
        uses: actions/checkout@v4

      - name: "Login to GitHub container registry"
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # v3.4.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.PYANSYS_CI_BOT_TOKEN }}

      - name: "Pull Lumerical Unified Container"
        run: |
          docker pull ${{ env.DOCKER_IMAGE_LUMERICAL_UNIFIED }}

      - name: "Run Lumerical Unified Container"
        run: |
          docker run \
            --detach -it \
            --network="host" \
            --name ${{ env.DOCKER_CONTAINER_LUMERICAL_UNIFIED_NAME }} \
             --env ANSYSLMD_LICENSE_FILE=1055@${{ secrets.LICENSE_SERVER }} \
             --volume ${PWD}:/home/ansys/pylumerical \
             ${{ env.DOCKER_IMAGE_LUMERICAL_UNIFIED }}

      - name: "Install Project Dependencies and Run Tests"
        run: |
            docker exec \
              --workdir /home/ansys/pylumerical \
              ${{ env.DOCKER_CONTAINER_LUMERICAL_UNIFIED_NAME }} /bin/bash --login -c \
              "python -m pip install -e .[tests] && pytest -v tests/ --cov-report=html:coverage_report"

      - name: Upload Coverage Results
        if: always()
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: coverage-html-ubuntu
          path: .cov/html
          retention-days: 7

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        with:
          files: .cov/xml

      - name: "Stop lumerical services"
        if: always()
        run: |
          docker stop ${{ env.DOCKER_CONTAINER_LUMERICAL_UNIFIED_NAME }}
          docker logs ${{ env.DOCKER_CONTAINER_LUMERICAL_UNIFIED_NAME }}
          docker rm ${{ env.DOCKER_CONTAINER_LUMERICAL_UNIFIED_NAME }}
