name: Common Build, Test, and Package

on:
  workflow_call:
    inputs:
      library-name:
        description: 'Name of the library'
        required: true
        type: string
      documentation-cname:
        description: 'Documentation CNAME'
        required: true
        type: string
      skip-doc-build-if-closed:
        description: 'Skip doc build if PR is closed'
        required: false
        type: boolean
        default: false
    secrets:
      PYANSYS_CI_BOT_TOKEN:
        required: true
      LICENSE_SERVER:
        required: true
      TOKEN:
        required: true

env:
  MAIN_PYTHON_VERSION: '3.13'
  DOCUMENTATION_CNAME: ${{ inputs.documentation-cname }}

# Disable all default permissions at workflow level for security (least privilege principle)
# Individual jobs will explicitly request only the permissions they need
permissions: {}

concurrency:
  group: build-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  code-style:
    name: "Code style"
    runs-on: ubuntu-latest
    permissions:
      contents: read # Required to checkout repository
    steps:
      - name: "Run code style checks"
        uses: ansys/actions/code-style@v10
        with:
          python-version: ${{ env.MAIN_PYTHON_VERSION }}
          use-python-cache: false

  doc-style:
    name: "Doc style"
    runs-on: ubuntu-latest
    permissions:
      contents: read # Required to checkout repository
    steps:
      - uses: ansys/actions/doc-style@v10
        with:
          token: ${{ secrets.TOKEN }}

  doc-build:
    name: "Doc build"
    if: ${{ !(inputs.skip-doc-build-if-closed && github.event.action == 'closed') }}
    runs-on: ubuntu-latest
    needs: doc-style
    permissions:
      contents: read # Required to checkout repository
    steps:
      - uses: ansys/actions/doc-build@v10
        with:
          skip-install: true
          python-version: ${{ env.MAIN_PYTHON_VERSION }}
          use-python-cache: false
          dependencies: "pandoc"
          needs-quarto: true

  wheelhouse:
    name: "Wheelhouse / ${{ matrix.os }} / ${{ matrix.python }}"
    runs-on: ${{ matrix.os }}
    needs: code-style
    permissions:
      id-token: write # Required for trusted publisher
      contents: write # Required for GitHub uploads
    strategy:
      fail-fast: false
      matrix:
        os: ['ubuntu-latest', 'windows-latest']
        python: ['3.10', '3.11', '3.12', '3.13']
    steps:
      - uses: ansys/actions/build-wheelhouse@v10
        with:
          library-name: ${{ inputs.library-name }}
          operating-system: ${{ matrix.os }}
          python-version: ${{ matrix.python }}

  tests:
    needs: wheelhouse
    permissions:
      id-token: write # Required for trusted publisher
      contents: write # Required by reusable workflow for write operations
    uses: ./.github/workflows/common-tests-lumerical.yml
    secrets:
      PYANSYS_CI_BOT_TOKEN: ${{ secrets.PYANSYS_CI_BOT_TOKEN }}
      LICENSE_SERVER: ${{ secrets.LICENSE_SERVER }}

  package:
    name: Package library
    needs: [tests, doc-build]
    runs-on: ubuntu-latest
    permissions:
      attestations: write # Required to create attestations
      contents: read # Required to access repository contents for build
      id-token: write # Required for trusted publisher
    steps:
      - name: Build library source and wheel artifacts
        uses: ansys/actions/build-library@v10
        with:
          library-name: ${{ inputs.library-name }}
          python-version: ${{ env.MAIN_PYTHON_VERSION }}
          attest-provenance: true
